
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="{% static 'userlogsapp/css/signup_page_style.css' %}">

</head>
<body>
    <div class="login-container">
        <h2>signup</h2>
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% if messages %}
            <div class="form-group" style="color:white;background:#3a99d2">
                {% for message in messages %}
                {{message}}
                {% endfor%}
            </div>
            {% endif%}
            <div class="form-group">
                <label for="first_name">first name:</label><br>
                <input type="text" id="first_name" name="first_name" required>
                <label for="last_name">last name:</label><br>
                <input type="text" id="last_name" name="last_name" >
            </div>
            <div class="form-group">
                <label for="id_username">Username:</label><br>
                <input type="text" id="id_username" name="username" required>
            </div>
            <div class="form-group">
                <label for="id_password">Password:</label><br>
                <input type="password" id="id_password" name="password" required>
            </div>
            <div class="form-group">
                <label for="profile_photo">Profile photo:</label><br>
                <input type="file" id="profile_photo" name="profile_photo" >
            </div>

            <span>already having account <a href="{% url 'login_page' %}" class="login">login</a> </span>
            <input type="submit" class="btn-submit">
        </form>
    </div>
</body>
</html>
