

.login-container {
    width: 37vw;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

}
h2{
    text-align:center;
}
/* Form group style */
.form-group {
    margin-bottom: 15px;
}

/* Label styles */
label {
    font-weight: bold;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Submit button styles */
.btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.btn-submit:hover {
    background-color: #17a7a4;
}
